@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.error-info {
  position: absolute;
  left: 10px;
  top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: red; }

.search-wrapper {
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .search-wrapper h2 {
    font-size: 38px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #000000; }
  .search-wrapper #search {
    margin-top: 50px;
    position: relative;
    max-width: 700px; }
    .search-wrapper #search input {
      width: 350px;
      border: 1px solid #e2e2e2;
      margin-right: 20px;
      padding-left: 15px;
      height: 40px;
      border-radius: 20px; }
      .search-wrapper #search input:focus {
        outline: none; }
    .search-wrapper #search button {
      width: 50px;
      height: 40px;
      border: none;
      background: #000000;
      color: #ffffff;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      transition: all .5s ease; }
      .search-wrapper #search button:hover {
        border-radius: 10px; }
