@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700");
.info-per-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper-information {
  width: 450px;
  height: 150px;
  box-shadow: 0 0 20px #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px; }
  .wrapper-information p {
    font-family: "Orbitron", sans-serif;
    font-size: 14px; }
    .wrapper-information p span {
      width: 110px;
      display: inline-block;
      text-align: right;
      font-weight: 700;
      margin-right: 15px; }
