@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.comments-box {
  padding: 20px 0; }

.comments-title {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 0; }
  .comments-title h1 {
    font-family: "Lato", sans-serif;
    font-size: 30px; }

.add-comments {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px; }

.no-comments {
  text-align: center; }
  .no-comments span {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #0D47A1; }

.right-box {
  margin-top: 100px; }

button.add-comments-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  button.add-comments-btn svg {
    font-size: 22px;
    color: #ffffff; }
  button.add-comments-btn:hover {
    background: #0D47A1; }
