@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.activities-wrapper {
  min-height: calc(100vh - 83px);
  padding-top: 50px; }
  .activities-wrapper .row {
    background: #ffffff;
    border-radius: 6px; }
  .activities-wrapper > .row:first-child {
    height: 100px;
    display: flex;
    align-items: center; }
  .activities-wrapper .row + .row {
    margin-top: 30px; }

.activities-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin: 0; }

.activities {
  padding: 40px 15px; }
  .activities .row {
    min-height: 70px; }
  .activities .row + .row {
    margin-top: 30px; }
