@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
.flex-center {
  display: flex;
  justify-content: center; }

.error-number, .success-info {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 50px;
  width: 400px;
  height: 60px;
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; }

.success-info {
  background: rgba(52, 168, 83, 0.5);
  border: 1px solid #34a853; }

.data_box {
  min-width: 400px;
  display: flex;
  justify-content: center; }
  .data_box div + div {
    margin-left: 80px; }
  .data_box div {
    font-size: 60px; }
    .data_box div span {
      font-size: 24px;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      margin-right: 15px; }
  .data_box div:first-child {
    color: #34A853; }
  .data_box div:last-child {
    color: #EA4335; }
    .data_box div:last-child svg {
      position: relative;
      top: 23px; }
